@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: black;
  text-align: center;
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  color: red;
  font-weight: 900;
  font-size: 2em;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.cart,
.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#book-container {
  display: flex;
  margin: 0 auto;

  #store {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 100px;

    &.flex {
      display: flex;
      flex-flow: row wrap;
    }

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

.login-form {
  width: 30%;
  margin: 0 auto;
  color: white;
  text-align: left;
  margin-top: 300px;

  @media only screen and (max-width: 600px) {
    margin-top: 200px;
    width: 90%;
  }

  .title {
    font-family: "Oregano", cursive !important;
    color: red;
    font-weight: 900;
    font-size: 3em;
    text-align: center;

    @media only screen and (max-width: 600px) {
      font-size: 2em;
    }
  }
}
.sale-badge {
  font-size: 1em;
}
